.bio {
  margin: 1em auto;
}

.navigation-bar {
  margin:-1.5em auto 1.5em auto;
  text-align:center;
}

.navigation-bar-link{
  display:inline;
  margin:.5em;
  text-shadow: 2px 2px 4px gray;
}

.navigation-bar-link:hover{
  text-shadow: 2px 2px 10px #000000;
}

.back-btn {
  float:left;
  cursor:pointer;
  margin-top: -2.5em;
}

.project-container {
  display: flex;
  overflow: scroll;
  flex-direction: row;
  align-items: center;
}

.services-container {
  border:1px solid gray;
  width: 16em;
  height:12em;
  margin: .5em;
  box-shadow: 6px 8px 10px grey;
  text-align: center;
}

.services-container-sm {
  border:1px solid gray;
  width: 12em;
  height:12em;
  margin: .5em;
  box-shadow: 6px 8px 10px grey;
  text-align: center;
}

.portfolio-container {
  width: 22em;
  height:14em;
  margin: 1em .5em;
  box-shadow: 0px 10px 22px 5px lightgrey;
  text-align: center;
  cursor: pointer;
}

.portfolio-container:hover{
  box-shadow: 0px 10px 22px 15px grey;
}

.work-container {
  width: 80%;
  margin: auto;
}

.work-intro {
  height: 350px;
  margin: 1em auto;
}

.work-description1{
  /*height: 250px;*/
}

.work-description2{
  height: 200px;
}

.work-description3{
  display:flex;
  justify-content:space-around;
  font-size:16px;
}

/*Contact Page*/
.contact-link{
  font-weight:bold;
  border-bottom: 1px solid gray;
}
.contact-link:hover{
  color:blue
}

.team-title{
  margin:auto;
  writing-mode:vertical-lr;
  text-orientation:upright;
}
