.bio {
  margin: 1em auto;
}

.project-container {
  display: flex;
  overflow: scroll;
  flex-direction: row;
  align-items: center;
}

.work-container {
  width: 100%;
  margin: 0 1.6em;
}

.work-image-container {
  margin: 1em;
}

.work-intro {
  height: 350px;
  margin: 1em auto;
}

.work-description1{
  height: 250px;
  margin: auto auto 2em auto;
}

.work-description2{
  height: 200px;
  margin: 2em auto 2em auto;
}
